.sr-only {
    position: absolute;
    bottom: 10000px;
    z-index: 0;
    overflow: hidden;
}

.hidden {
    display: none;
}

.link__readmore {
    text-decoration: underline;
    display: inline-block;
    width: 100%;
    text-align: right;
    color: @base-color-action;
}

ul {
    list-style: none;
    padding-left: 0;
}

