.icon:before {
    color: inherit;
    padding-right: @base-padding-horizontal / 2;
    line-height: inherit;
    display: inline-block;
}

.icon--oversize:before {
    font-size: 32px;
    line-height: 1.5;

    @media @tablet {
        font-size: 50px;
    }

    @media @desktop {
        font-size: 50px;
    }


}

.offer__icon {
    font-size: 32px;
    line-height: 1.6;
    display: inline-block;
    padding: 0 10px;
}
