.text--inversed {
    .text;

    color: darken(@base-color-font, 90%);
}

html, body {
    font-family: @base-font-family;
    font-size: @font-size-p;
    line-height: 1.313;
}

html, 
body,
button,
.text {
    font-family: @base-font-family;
    font-size: 16px;
    line-height: 1.5;
    color: @base-color-font;

    h1 ,h2, h3, h4, h5, h6 {
        font-family: @secondary-font-family;
    }

    h1, h2 {
        font-weight: 400;
    }

    h3, h4, h5, h6 {
        font-weight: 300;
    }

    h1 {
        font-size: 2.31em;
        margin: 0;
    }

    h2 {
        font-size: 1.44em;
        margin: 0;
    }

    h3 {
        font-size: 1.13em;
        margin: 0;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: 0.875em;
        margin: 0;
        text-indent: 2em;
    }

    p.large {
        font-size: 2em;
    }

    li {
        font-size: 0.875em;
    }
    
    .quote__text { 
        font-family: @secondary-font-family;
        font-style: italic;
        font-size: 2.31em;
        line-height: 1.2;
        font-weight: 300;
        text-indent: 0;
    }

    .offer__details-wrap p {
        text-indent: 0;
    }

    .h2 {
        font-size: 1.44em;
    }
}

.text--error {
    color: red;
}

.controls__text--header,
.controls__text--text {
    text-shadow: 2px 2px 2px #000;
}

.controls__text--header {
    text-transform: uppercase;
}
